ios/node_modules/
ios/Whiteboard/EN/output
ios/Whiteboard/CN/output

android/node_modules/
android/Whiteboard/CN/output
android/Whiteboard/EN/output


web/node_modules/
web/Whiteboard/CN/node_modules/
web/Whiteboard/EN/node_modules/
web/Whiteboard/CN/docs/
web/Whiteboard/EN/docs/

*.html
*.zip

# 文档同步工具配置
config/sync_config.yaml
logs/